<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Black+Ops+One&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="styles/styles.css">

  <!-- SCRIPTS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>

<body>
  <!-- <%- include('partials/_header') %> -->

  <nav>
  </nav>

  <header>
    <h1>Battleship</h1>
    <img src="/images/battleship-silhouette.png" alt="">
  </header>

  <main>
    <div class='playing-pieces-container'>
      <div class='playing-pieces'>
        <img src="/images/carrier.png" class='carrier' alt="">
        <img src="/images/battleship.png" class='battleship' alt="">
        <img src="/images/cruiser.png" class='cruiser' alt="">
        <img src="/images/submarine.png" class='submarine' alt="">
        <img src="/images/destroyer.png" class='destroyer' alt="">
      </div>
      <button class='rotate'>Rotate</button>
      <button class='start'>Start</button>
    </div>
  </main>

  <footer>
  </footer>

  <script src="scripts/main.js"></script>
</body>

</html>