html {
  font-family: "Arvo", serif;
}

header {
  font-family: "Black Ops One", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header h1 {
  font-size: 3em;
}
header img {
  height: 200px;
  width: 400px;
}

main {
  display: flex;
  padding: 50px;
}
main .playing-pieces-container {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
main .playing-pieces-container .playing-pieces {
  display: flex;
  flex-direction: column;
}
main .playing-pieces-container .playing-pieces img {
  height: 50px;
}
main .playing-pieces-container .playing-pieces .carrier {
  width: 250px;
}
main .playing-pieces-container .playing-pieces .battleship {
  width: 200px;
}
main .playing-pieces-container .playing-pieces .cruiser,
main .playing-pieces-container .playing-pieces .submarine {
  width: 150px;
}
main .playing-pieces-container .playing-pieces .destroyer {
  width: 100px;
}

.grid {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  border: 1px solid #4d4d4d;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-image: url("/images/water-slow.gif");
  background-size: 100% 100%;
}

.carrier-h,
.carrier-v,
.battleship-h,
.battleship-v,
.cruiser-h,
.cruiser-v,
.submarine-h,
.submarine-v,
.destroyer-h,
.destroyer-v {
  position: absolute;
  pointer-events: none;
  height: 50px;
}

.carrier-h,
.carrier-v {
  width: 250px;
  transform: translateX(-125px);
}

.carrier-v {
  transform: translateX(-125px) rotate(90deg);
}

.battleship-h,
.battleship-v {
  width: 200px;
  transform: translateX(-125px);
}

.battleship-v {
  transform: rotate(90deg) translate(-25px, 100px);
}

.cruiser-h,
.cruiser-v,
.submarine-h,
.submarine-v {
  width: 150px;
  transform: translateX(-75px);
}

.cruiser-v,
.submarine-v {
  transform: translateX(-75px) rotate(90deg);
}

.destroyer-h,
.destroyer-v {
  width: 100px;
  transform: translateX(-75px);
}

.destroyer-v {
  transform: rotate(90deg) translate(-25px, 50px);
}
